body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: Black;
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*H1{
  color: black;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 5vw;
  text-align: center;
  background-color:Beige ;
}*/


p {
text-align: center;
font-size: 25px;
}

H2{
  color: black;
  font-family:American Typewriter, serif;
  text-align: center;
}

.footer{
  background-color: azure;
text-decoration: underline;
text-indent:: 20%;
 text-align: center;
  font-size: 10px;
}

*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
p{
  margin-bottom: 1rem;
  text-indent:: 20%;
}
nav a{
  display: block;
  padding: 10px;
  text-align: center;
  color: BLACK;
  text-decoration: none;
}
nav li{
  list-style: none;
  flex-basis: 100vw;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
}
nav a:hover{
background-color: black;
color: pink;

}
@media screen and (min-width: 600px) {
  nav ul {
    display: flex;
  }
  nav li {
    flex:1;
  }
}
