* {
    box-sizing: border-box;
}

.image {
    width: 100%;
    height: 300px;
}

a {
    color: #000;
}

.artistName,
h2,
.year {
    margin: 0;
    text-align: center;
}

.artistName,
h2 {
    font-family: Century Gothic;
    font-size: 1em;
    padding: 5px 5px 0 5px;
}

.year {
    font-size: 0.75em;
}

.artistBrief {
	margin-top: 15px;
    font-size: 0.9em;
    padding: 0 20px 20px 20px;
    text-align: left;
}

.cardContainer {
    display: inline-block;
    margin-top:15%;
    margin-left: 10%;
}

.cardContainer:hover .cardFlip {
    transform: rotateY(180deg);
}

.cardContainer,
.cardFront,
.cardBack {
    width: 250px;
    height: 500px;
}

.cardFlip {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.cardFront,
.cardBack {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardFront {
    z-index: 2;
   
}

.cardBack {
    transform: rotateY(180deg);
    background-color: #D0D0D0;
}

button{
	text-align: center;
	background-color: #ffffff;
	border: 1px solid black;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
}

button:hover{
	background-color: #000000;
	color: #ffffff;
	transition: 0.5s;
}

.buttonCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  margin-left: 75px;
  margin-bottom: 10px;
}
