
div.menu {
  background-color: none;
  overflow: auto;
  text-align: center;
}
div.menu a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
h1 {
    color: black;
    text-align: center;
}
body {
font-family: Arial, Helvetica, sans-serif;
background-repeat: no-repeat;
background-size:cover;
}

* {
box-sizing: border-box;
}
.footer{
  background-color: azure;
text-decoration: underline;

 text-align: center;
}
/* Style inputs */
.center{
  display:block;
  margin-left: auto;
  margin-right: auto;
}
input[type=text], select, textarea {
width: 100%;
padding: 12px;
border: 1px solid #ccc;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical;
}

input[type=submit] {
background-color: #04AA6D;
color: white;
padding: 12px 20px;
border: none;
cursor: pointer;
}

input[type=submit]:hover {
background-color: #45a049;
}

/* Style code for container/contact section */
.column {
float : left;
width: 50%;
}
.row:after {
content: "";
display: table;
clear: both;
}

@media screen and (max-width: 600px) {
.column, input[type=submit] {
width: 100%;
margin-top: 0;
  }
}

.contact{
font : 20px, Arial,Helvetica, sans-serif;
}
.card{
padding: 1rem;
height: 5rem;
}
.map-responsive iframe{
  height: 80%;
  width: 50%;
  position:absolute;
  padding-top: 100px;
  padding-left: 140px;
}
.contact h1{
  line-height: normal;
  text-align: left;
}
