
<link rel="stylesheet" href="css/responsiveGrid.css">


div.menu {
  background-color: none;
  overflow: auto;
  text-align: center;
}

div.menu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

h1 {
    color: black;
    text-align: center;
}

body {
  font-family: Verdana, sans-serif;
  margin:0;
  background-image: url('images/happiest-sites.jpg');
  background-repeat: no-repeat;

}
.image{
  opacity: 1;
  display: block;
  width: 10%;
  height: auto;
  transition: .5s ease;
  padding: 200px;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.wrapper:hover .image {
  opacity: 0.3;
}

.wrapper:hover .middle {
  opacity: 1;
}

.content{
  color: white;
  font-size: 16px;
  padding: 16px 32px;

}
.text {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.wrapper{
    width: 20%;
    display: flex;
    animation: slide 10s infinite;
    grid-template-columns: -webkit-max-content 1fr 1fr;
 grid-template-columns: max-content 1fr 1fr;
 grid-template-areas:
}

img{
    width: 50%;
}

@keyframes slide{
    0%{transform: translateX(0);}
    25%{transform: translateX(0);}
    30%{transform: translateX(-100%);}
    50%{transform: translateX(-100%);}
    55%{transform: translateX(-200%);}
    75%{transform: translateX(-200%);}
    80%{transform: translateX(-300%);}
    100%{transform: translate(-300%);}
}
/*Search bar css code*/
 .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.menu .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .menu .search-container {
    float: none;
  }
  .menu a, .menu input[type=text], .menu .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .menu input[type=text] {
    border: 1px solid #ccc;
  }
}
